<div class="container">
    <div class="title">
        Register user
    </div>
    <div class="panel-body">
        <div class="row">
            <label for="email">Email</label>
            <div class="input-field col s12">
                <input [(ngModel)]="user.email" id="email"
                       type="email" class="validate">
            </div>
        </div>

        <div class="row">
            <label for="password">Password</label>
            <div class="input-field col s12">
                <input [(ngModel)]="user.password" id="password"
                       type="password" class="validate">
            </div>
        </div>

        <span>{{errorMsg}}</span>
        <button (click)="register()"
                class="btn waves-effect waves-light"
                type="submit" name="action">
            Register
        </button>

        <nav>
            <a routerLink="/login" href="/register"> Go to login </a>
            <a routerLink="/social-login" href="/social-login"> Login with social networks </a>
        </nav>
    </div>
</div>